.contact-form {
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact-form-grid {
    display: -ms-grid;
    display: grid;
    margin: 40px 40px 0px 0px;
    justify-items: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.container {
    padding: 0px 54px 54px;
}

@media screen and (max-width: 767px) {
    .contact-form {
        padding: 40px 20px;
    }
}

#w-node-_1852263f-b8cd-97d1-f12f-d36d03c82e4f-c85ff4ad {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
}

@media screen and (max-width: 479px) {
    #w-node-_1852263f-b8cd-97d1-f12f-d36d03c82e3f-c85ff4ad {
        -ms-grid-column: span 2;
        grid-column-start: span 2;
        -ms-grid-column-span: 2;
        grid-column-end: span 2;
        -ms-grid-row: span 1;
        grid-row-start: span 1;
        -ms-grid-row-span: 1;
        grid-row-end: span 1;
    }

    #w-node-_1852263f-b8cd-97d1-f12f-d36d03c82e43-c85ff4ad {
        -ms-grid-column: span 2;
        grid-column-start: span 2;
        -ms-grid-column-span: 2;
        grid-column-end: span 2;
        -ms-grid-row: span 1;
        grid-row-start: span 1;
        -ms-grid-row-span: 1;
        grid-row-end: span 1;
    }

    #w-node-_1852263f-b8cd-97d1-f12f-d36d03c82e4b-c85ff4ad {
        -ms-grid-column: span 2;
        grid-column-start: span 2;
        -ms-grid-column-span: 2;
        grid-column-end: span 2;
        -ms-grid-row: span 1;
        grid-row-start: span 1;
        -ms-grid-row-span: 1;
        grid-row-end: span 1;
    }
