{% extends "html/base.html" %}
{% load static %}
{% block content %}
  <link href="../static/assets/css/about.css" rel="stylesheet">
<section id="aboutus">
  <h2>About Us</h2>
    <div>
        <div class="w-container">
            <h4>Who are we?</h4>
            <p>CricMore is your go-to cricket fantasy supply.

                We’ve stayed ahead of counterparts with in-depth analysis.
            </p>

            <h4> What services do we offer?</h4>
            <p>
                Taking into consideration the requirements of a modern-day fantasy sports users, we offer information in
                the
                best way possible.

                We update Perfect Fantasy Team and we also provide each player statistics</p>

            <h4> How To Contact Us.</h4>
            <p> If you have any type of questions or doubt about the team you may contact us via. Email, Contact Page.
                We will
                reply your questions shortly.</p>
        </div>
    </div>
<h2 style="text-align:center">Our Team</h2>
<div class="row">

      <div class="container">
        <h4>Sai ram</h4>
      </div>
      </div>

        <h4>Keerthana</h4>
    </div>

 <div>
        <h4>Saishma</h4>

    </div>
</section>

{% endblock content %}