{% extends "html/base.html" %}
{% load static %}
{% block content %}
<div class="about-section">
  <h1>About Us</h1>

</div>

    <div>
        <div class="w-container">
            <h1>Who are we?</h1>
            <p>CricMore is your go-to cricket fantasy supply.

                We’ve stayed ahead of counterparts with in-depth analysis.
            </p>

            <h1> What services do we offer?</h1>
            <p>
                Taking into consideration the requirements of a modern-day fantasy sports users, we offer information in
                the
                best way possible.

                We update Perfect Fantasy Team and we also provide each player statistics</p>

            <h1> How To Contact Us.</h1>
            <p> If you have any type of questions or doubt about the team you may contact us via. Email, Contact Page.
                We will
                reply your questions shortly.</p>
        </div>
    </div>


<h2 style="text-align:center">Our Team</h2>
<div class="row">

      <div class="container">
        <h1>Sai ram</h1>
      </div>
      </div>

        <h1>Keerthana</h1>
    </div>

 <div>
        <h1>Saishma</h1>

    </div>

{% endblock content %}