{% extends "html/base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="css/contact.css">
    <section id="contact-form" class="contact-form">
        <div class="container w-container">
            <h2>Contact </h2>
            <p>Have any queries ? Contact us.</p>
            <div id="formInstructions" class="small-text"><em>Fields marked with an asterisk (*) are required.</em>
            </div>
            <div class="w-form">
                <form id="wf-form-Contact-Form" name="wf-form-Contact-Form" data-name="Contact Form">
                    <div class="contact-form-grid">
                        <div id="w-node-_1852263f-b8cd-97d1-f12f-d36d03c82e3f-c85ff4ad"><label for="First-Name"
                                                                                               id="contact-first-name">First
                            name *</label><input type="text" class="w-input" maxlength="256" name="First-Name"
                                                 data-name="First Name" id="First-Name" required=""></div>
                        <div id="w-node-_1852263f-b8cd-97d1-f12f-d36d03c82e43-c85ff4ad"><label for="Last-Name"
                                                                                               id="contact-last-name">Last
                            name *</label><input type="text" class="w-input" maxlength="256" name="Last-Name"
                                                 data-name="Last Name" id="Last-Name" required=""></div>
                        <div id="w-node-_1852263f-b8cd-97d1-f12f-d36d03c82e47-c85ff4ad"><label for="Email"
                                                                                               id="contact-email">Email
                            *</label><input type="email" class="w-input" maxlength="256" name="Email" data-name="Email"
                                            id="Email" required=""></div>

                        <div id="w-node-_1852263f-b8cd-97d1-f12f-d36d03c82e4f-c85ff4ad"><label for="Message"
                                                                                               id="contact-message">Message</label>
                        </div>
                    </div>
                    <textarea data-name="Message" maxlength="5000" id="Message" name="Message"
                              class="w-input"></textarea><input type="submit" value="Submit" data-wait="Please wait..."
                                                                class="w-button">

                </form>
                <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

