{% extends "html/base.html" %}
{% load static %}

{% block content %}
    <link href="../static/assets/css/fantasy.css" rel="stylesheet">
    <body class="ki">
    <div class="shapedividers_com-1926">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <!-- Category -->
                    <div class="single category">
                        <h3 class="side-title">Fantasy Team</h3>
                        <h3 style="text-align: center;" >{{t1}} vs {{t2}}</h3>
                    </div>
                </div>
            </div>
                <div class="section wf-section">
                    <div class="w-layout-grid grid-3">
                        <h3>Batsman</h3>
                        <h3>Bowler</h3>
                    </div>
                </div>
                <div class="w-layout-grid grid">

                    <div class="row row-2">
                        <div class="col-md-5">
                            <div>
                                <h4>Name</h4>
                                {% for i in b %}
                                <div>
                                    <p>{{i}}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <h4>Team</h4>
                            </div>
                            {% for i in bt%}
                            <div>
                                <p>{{i}}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-3">
                            <div>
                                <h4>Credits</h4>
                            </div>
                            {% for i in bc%}
                            <div>
                                <p>{{i}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row row-1" >
                        <div class="col-md-5">
                            <div>
                                <h4>Name</h4>
                            </div>
                            {% for i in bo %}
                                <div>
                                    <p>{{i}}</p>
                                </div>
                                {% endfor %}
                        </div>
                        <div class="col-md-4">
                            <div>
                                <h4>Team</h4>
                            </div>
                            {% for i in bot%}
                            <div>
                                <p>{{i}}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-3">
                            <div>
                                <h4>Credits</h4>
                            </div>
                            {% for i in boc%}
                            <div>
                                <p>{{i}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="section-2 wf-section">
                    <div class="w-layout-grid grid-4">
                        <h3>All Rounder</h3>
                        <h3>WicketKeeper</h3>
                    </div>
                </div>
                <div class="w-layout-grid grid-2">
                    <div class="row row-3">
                        <div class="col-md-5">
                            <div>
                                <h4>Name</h4>
                            </div>
                            {% for i in ar %}
                            <div>
                                <p>{{i}}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-4">
                            <div>
                                <h4>Team</h4>
                            </div>
                            {% for i in art %}
                                <div>
                                    <p>{{i}}</p>
                                </div>
                                {% endfor %}
                        </div>
                        <div class="col-md-3">
                            <div>
                                <h4>Credits</h4>
                            </div>
                            {% for i in arc %}
                                <div>
                                    <p>{{i}}</p>
                                </div>
                                {% endfor %}
                        </div>
                    </div>
                    <div class="row row-4">
                        <div class="col-md-5">
                            <div>
                                <h4>Name</h4>
                            </div>
                            {% for i in wk %}
                                <div>
                                    <p>{{i}}</p>
                                </div>
                                {% endfor %}
                        </div>
                        <div class="col-md-4">
                            <div>
                                <h4>Team</h4>
                            </div>
                            {% for i in wkt %}
                                <div>
                                    <p>{{i}}</p>
                                </div>
                                {% endfor %}
                        </div>
                        <div class="col-md-3">
                            <div>
                                <h4>Credits</h4>
                            </div>
                            {% for i in wkc %}
                                <div>
                                    <p>{{i}}</p>
                                </div>
                                {% endfor %}
                        </div>
                            
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </body>
{% endblock content %}