{% extends "html/base.html" %}
{% load static %}
{% block content %}
    <link href="../static/assets/css/fantasy.css" rel="stylesheet">
    <body class="ki">
    <div class="shapedividers_com-1926">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <!-- Category -->
                    <div class="single category">
                        <h3 class="side-title">Fantasy Teams</h3>
                    </div>
                </div>
            </div>
                <div class="section wf-section">
                    <div class="w-layout-grid grid-3">
                        <h3>Batsman</h3>
                        <h3>Bowler</h3>
                    </div>
                </div>
                <div class="w-layout-grid grid">

                    <div class="row row-2">
                        <div class="col-md-5">
                            <div>
                                <h4>Name</h4>
                                <div>
                                    <p>KL Rahul</p>
                                    <p>Mayank Agarwal</p>
                                    <p>Kane Williamson (C)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <h4>Team</h4>
                            </div>
                            <div>
                                <p>Punjab Kings</p>
                                <p>Punjab Kings</p>
                                <p>Sunrisers Hyderabad</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <h4>Credits</h4>
                            </div>
                            <div>
                                <p>-</p>
                                <p>-</p>
                                <p>-</p>
                            </div>
                        </div>
                    </div>
                    <div class="row row-1" >
                        <div class="col-md-5">
                            <div>
                                <h4>Name</h4>
                            </div>
                            <div>
                                <P>Mohammed Shami</P>
                                <p>Ravi Bishnoi</p>
                                <p>T-Natarajan</p>
                                <p>Rashid Khan (VC)</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <h4>Team</h4>
                            </div>
                            <div>
                                <p>Punjab Kings</p>
                                <p>Punjab Kings</p>
                                <p>Sunrisers Hyderabad</p>
                                <p>Sunrisers Hyderabad</p>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <h4>Credits</h4>
                            </div>
                            <div>
                                <p>-</p>
                                <p>-</p>
                                <P>-</P>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-2 wf-section">
                    <div class="w-layout-grid grid-4">
                        <h3>Wicket Keeper</h3>
                        <h3>All Rounder</h3>
                    </div>
                </div>
                <div class="w-layout-grid grid-2">
                    <div class="row row-3">
                        <div class="col-md-5">
                            <div>
                                <h4>Name</h4>
                            </div>
                            <div>
                                <p>Nicholas Pooran</p>
                                <p>Jhony Bairstow</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <h4>Team</h4>
                            </div>
                            <div>
                                <p>Punjab Kings</p>
                                <p>Sunrisers Hyderabad</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <h4>Credits</h4>
                            </div>
                            <div>
                                <p>-</p>
                                <P>-</P>
                            </div>
                        </div>
                    </div>
                    <div class="row row-4">
                        <div class="col-md-5">
                            <div>
                                <h4>Name</h4>
                            </div>
                            <div>
                                <p>
                                    Chirs Gayle
                                </p>
                                <P>Kedar Jadhav</P>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <h4>Team</h4>
                            </div>
                            <div>
                                <p>Punjab Kings</p>
                                <p>Sunrisers Hyderabad</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <h4>Credits</h4>
                            </div>
                            <div>
                                <p>-</p>
                                <P>-</P>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </body>
{% endblock content %}