{% extends "html/base.html" %}
{% load static %}
{% block content %}
<link href="../static/assets/css/filter.css" rel="stylesheet">
<body class="ki">
    <div class="container">
<div class="row">
<div class="col-sm-4">
	<!-- Category -->
	<div class="single category">
		<h3 class="side-title">FILTERS</h3>
		<ul class="list-unstyled">
			<li><a href="{% url 'filterruns' %}" title="">MOST RUNS<span class="pull-right"></span></a></li>
			<li><a href="{% url 'filterwickets' %}" title="">MOST WICKETS<span class="pull-right"></span></a></li>
			<li><a href="{% url 'filtersixes' %}" title="">MOST SIXES <span class="pull-right"></span></a></li>
			<li><a href="{% url 'filterfours' %}" title="">MOST FOURS <span class="pull-right"></span></a></li>
			<li><a href="{% url 'mainteamlist' %}" title="">MOST RUNS FOR A TEAM <span class="pull-right"></span></a></li>
			<li><a href="{% url 'againstteamlist' %}" title="">MOST RUNS AGAINST A TEAM <span class="pull-right"></span></a></li>
			<li><a href="{% url 'mainwteamlist' %}" title="">MOST WICKETS FOR A TEAM<span class="pull-right"></span></a></li>
			<li><a href="{% url 'mainawteamlist' %}" title="">MOST WICKETS AGAINST A TEAM<span class="pull-right"></span></a></li>
			<li><a href="{% url 'cityteamlist' %}" title="">MOST RUNS IN A CITY <span class="pull-right"></span></a></li>
			<li><a href="{% url 'citywteamlist' %}" title="">MOST WICKETS IN A CITY <span class="pull-right"></span></a></li>
            <li><a href="{% url 'filterfifties' %}" title="">MOST FIFTIES <span class="pull-right"></span></a></li>
            <li><a href="{% url 'filterhundreds' %}" title="">MOST HUNDREDS <span class="pull-right"></span></a></li>
            <li><a href="{% url 'filterstrikerate' %}" title="">BEST STRIKE RATE <span class="pull-right"></span></a></li>
            <li><a href="{% url 'filtereco' %}" title="">BEST ECONOMY <span class="pull-right"></span></a></li>
            <li><a href="{% url 'filteravg' %}" title="">BEST AVERAGE <span class="pull-right"></span></a></li>
            <li><a href="{% url 'filterinnings' %}" title="">MOST INNINGS <span class="pull-right"></span></a></li>
		</ul>
   </div>
</div> 
</div>
</div>

{%endblock%}