{% extends "html/base.html" %}
{% load static %}
{% block content %}
<link href="../static/assets/css/filter.css" rel="stylesheet">
<body class=ki>
    <div class="container">
<div class="row">
<div class="col-sm-4">
	<!-- Category -->
	<div class="single category">
		<h3 class="side-title">{{post.name.name}} vs {{post.bowler}}</h3>
		<ul class="list-unstyled">
			<li><a href="" title="">RUNS SCORED<span style="float:right">{{post.runs}}</span> </a></li>
			<li><a href="" title="">BALLS FACED<span style="float:right">{{post.ballsfaced}}</span></a></li>
			<li><a href="" title="">WICKETS CONCEDED <span style="float:right">{{post.outs}}</span></a></li>
            <li><a href="" title="">AVERAGE AGAINST HIM <span style="float:right">{{post.average}}</span></a></li>
            <li><a href="" title="">WICKETS TAKEN <span style="float:right">{{post.wickets}}</span></a></li>
            <li><a href="" title="">RUNS GIVEN<span style="float:right">{{post.runsgiven}}</span></a></li>
			<li><a href="" title="">ECONOMY AGAINST HIM<span style="float:right">{{post.economy}}</span></a></li>
			<li><a href="" title="">SRIKE RATE AGAINST HIM <span style="float:right">{{post.strikerate}}</span></a></li>
            <li><a href="" title="">BOWLING AVERAGE AGAINST HIM <span style="float:right">{{post.bowlavg}}</span></a></li>

		
		</ul>
   </div>
</div> 
</div>
</div>
<br>
{%endblock%}