{% load static %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/skel.min.js' %}"></script>
    <script src="{% static 'js/skel-layers.min.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/skel.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-xlarge.css' %}">
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="">
  <head>
      <style>
          .ki{
            background-image: url("{% static 'images/d2.jpg' %}");
  background-repeat: no-repeat;
  background-size: 2000px 900px;
  
          }
          .single {
              width: 1000px;
padding: 30px 15px;
margin-top: 40px;
background: #fcfcfc;
border: 1px solid #f0f0f0; }
.single h3.side-title {
margin: 0;
margin-bottom: 10px;
padding: 0;
font-size: 30px;
color: #333;
text-transform: uppercase; }
.single h3.side-title:after {
content: '';
width: 60px;
height: 1px;
background: #ff173c;
display: block;
margin-top: 6px; }

.single ul {
margin-bottom: 0; }
.single li a {
color: #666;
font-size: 17px;
text-transform: uppercase;
border-bottom: 1px solid #f0f0f0;
line-height: 40px;
display: block;
text-decoration: none; }
.single li a:hover {
color: #ff173c; }
.single li:last-child a {
border-bottom: 0; }
      </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
</head>
<header id="header" class="skel-layers-fixed">
    <h1><a href="{% url 'home' %}">CricMore</a></h1>
    
   
    <nav id="nav">
        <ul>
            <li>
                

                    <form method="GET" action="{% url 'search_player' %}" >
                       
                       
                         <input type="text" name="q1" value="{{request.GET.q1}}"   placeholder="Search Players..." style="background-color: transparent;">
                      
                     </form>
                  
            </li>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'm' %}">Matchups</a></li>
            <li><a href="{% url 'filter' %}">Filters</a></li>
            
        </ul>
    </nav>
</header>
<body class=ki>
    <div class="container">
<div class="row">
<div class="col-sm-4">
	<!-- Category -->
	<div class="single category">
		<h3 class="side-title">{{post.name.name}} vs {{post.bowler}}</h3>
		<ul class="list-unstyled">
			<li><a href="" title="">RUNS SCORED<span class="pull-right">{{post.runs}}</span> </a></li>
			<li><a href="" title="">BALLS FACED<span class="pull-right">{{post.ballsfaced}}</span></a></li>
			<li><a href="" title="">WICKETS CONCEDED <span class="pull-right">{{post.outs}}</span></a></li>
            <li><a href="" title="">AVERAGE AGAINST HIM <span class="pull-right">{{post.average}}</span></a></li>
            <li><a href="" title="">WICKETS TAKEN <span class="pull-right">{{post.wickets}}</span></a></li>
            <li><a href="" title="">RUNS GIVEN<span class="pull-right">{{post.runsgiven}}</span></a></li>
			<li><a href="" title="">ECONOMY AGAINST HIM<span class="pull-right">{{post.economy}}</span></a></li>
			<li><a href="" title="">SRIKE RATE AGAINST HIM <span class="pull-right">{{post.strikerate}}</span></a></li>
            <li><a href="" title="">BOWLING AVERAGE AGAINST HIM <span class="pull-right">{{post.bowlavg}}</span></a></li>

		
		</ul>
   </div>
</div> 
</div>
</div>
<br>
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">
                        <h3>Cricket</h3>
                        <ul class="alt">
                            <li><a href="{% url 'Fantasy' %}">Fantasy Cricket</a></li>
                            <li><a href="{% url 'PlayerStats' %}">Player Statistics</a></li>
                            <li><a href="{% url 'home' %}">Home</a></li>
                        </ul>
                    </div>
                    <div class="6u">
                        <h3>Company</h3>
                        <ul class="alt">
                            <li><a href="{% url 'About' %}">About Us</a></li>
                            <li><a href="{% url 'Contact' %}">Contact Us</a></li>
                            <li><a href="{% url 'Disclaimer' %}">Disclaimer</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="6u" >
                <h2>CricMore</h2>
                <p>We Predict,
                    They Perform
                    <br>
                    You WIN</p>
                <ul class="icons">
                    <h3>Social</h3>
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                </ul>
            </div>
           
</footer>
</body>
</html>