{% extends "html/base.html" %}
{% load static %}
{% block content %}
    <link href="../static/assets/css/filter.css" rel="stylesheet">
   
    <br>
    <br>
    <br>
    <br>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: center;
            padding: 16px;
            color:black;
        }

        th:first-child, td:first-child {
            text-align: left;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        .fa-check {
            color: green;
        }

        .fa-remove {
            color: red;
        }
    </style>
    <body>

    <h2 style="margin: 10px;">{{ posts.name }} vs {{ post.name }}</h2>

    <table>

        <tr>
            <td>INNINGS</td>
            <td>{{ posts.innings }}</td>
            <td>{{ post.innings }}</td>
        </tr>
        <tr>
            <td>RUNS SCORED</td>
            <td>{{ posts.runs }}</td>
            <td>{{ post.runs }}</td>
        </tr>
        <tr>
            <td>AVERAGE</td>
            <td>{{ posts.average }}</td>
            <td>{{ post.average }}</td>
        </tr>
        <tr>
            <td>STRIKE-RATE</td>
            <td>{{ posts.strikerate }}</td>
            <td>{{ post.strikerate }}</td>
        </tr>
        <tr>
            <td>FOURS</td>
            <td>{{ posts.fours }}</td>
            <td>{{ post.fours }}</td>
        </tr>
        <tr>
            <td>SIXES</td>
            <td>{{ posts.sixes }}</td>
            <td>{{ post.sixes }}</td>
        </tr>
        <tr>
            <td>FIFTIES</td>
            <td>{{ posts.fifties }}</td>
            <td>{{ post.fifties }}</td>
        </tr>
        <tr>
            <td>HUNDREDS</td>
            <td>{{ posts.hundreds }}</i></td>
            <td>{{ post.hundreds }}</td>
        </tr>
        <tr>
            <td>OVERS BOWLED</td>
            <td>{{ posts.oversbowled }}</td>
            <td>{{ post.oversbowled }}</td>
        </tr>
        <tr>
            <td>WICKETS</td>
            <td>{{ posts.wickets }}</td>
            <td>{{ post.wickets }}</td>
        </tr>
        <tr>
            <td>ECONOMY</td>
            <td>{{ posts.economy }}</td>
            <td>{{ post.economy }}</td>
        </tr>
        <tr>
            <td>BOWLING AVERAGE</td>
            <td>{{ posts.bowlavg }}</td>
            <td>{{ post.bowlavg }}</td>
        </tr>
        <tr>
            <td>BOWLING STRIKE-RATE</td>
            <td>{{ posts.bowlsr }}</td>
            <td>{{ post.bowlsr }}</td>
        </tr>
        <tr>
            <td>3W HAULS</td>
            <td>{{ posts.threehaul }}</td>
            <td>{{ post.threehaul }}</td>
        </tr>
    </table>

    </body>
{% endblock %}