{% extends "html/base.html" %}
{% load static %}
{% block content %}
<link href="../static/assets/css/matchups.css" rel="stylesheet">
<br>
<br>
<div class="row">
    <div class="column">
     
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
  <br>             
<section class="search-sec">
    <div class="container">
        <form action="{% url 'matchup1' %}" method="POST" novalidate="novalidate">
            {% csrf_token %}
           
           
                    <div class="row">
                       
                        <select class="column" name = "drop1"style="background-color:white;margin:0px;width:150px">
                            <option value="1">Select batsman</option>
                            {% for post in player %}
                            <option value= "{{post.name}}" >{{post.name}}</option>
                           
                    {% endfor%}
                        </select>
                        <select class="column" name = "drop2" style="background-color: white;margin: 0px;width:150px">
                            <option value="1">Select bowler</option>
                            {% for post in player %}
                            <option value= "{{post.name}}" >{{post.name}}</option>
                           
                    {% endfor%}
                        </select class="column">
                        <input  style="background-color: #d9534f;width:100px" type = "submit" value="Matchup">
                        
                
            </div>
        </form>
    </div>
</section>


              </div>

            </div>
          </div>
    
    </div>
    <div class="column">
     
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front1">
  <br>       
  <section class="search-sec">
    <div class="container">
        <form action="{% url 'matchup2' %}" method="POST" novalidate="novalidate">
            {% csrf_token %}
           
           
                    <div class="row">
                       
                        <select class="column" name = "drop1"style="background-color:white;margin:0px;width:150px">
                            <option value="1">Select PLAYER1</option>
                            {% for post in player %}
                            <option value= "{{post.name}}" >{{post.name}}</option>
                           
                    {% endfor%}
                        </select >
                        <select class="column" name = "drop2" style="background-color: white;margin: 0px;width:150px">
                            <option value="1">Select PLAYER2</option>
                            {% for post in player %}
                            <option value= "{{post.name}}" >{{post.name}}</option>
                           
                    {% endfor%}
                        </select class="column">
                        <input  style="background-color:#d9534f;width:100px" type = "submit" value="Compare">
                        
                
            </div>
        </form>
    </div>
</section>      


              </div>

            </div>
          </div>
    
    </div>
    
    
  </div>
  {%endblock%}