{% extends "html/base.html" %}
{% load static %}
{% block content %}
    <link href="../static/assets/css/pp.css" rel="stylesheet">
    <style>
    h2{
      color:#fff;
      font-size: 25px;
    }
    </style>
    <body class="ki">
    <div class="shapedividers_com-1926">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <!-- Category -->
                    <div class="single category">
                    <h2 class="side-title" style ="border-left: 6px solid red;
                    background-color: #e81a30;padding: 5px;margin-right: 100px;
    margin-left: 25px;">{{player.name.name}} <br>{{player.Team}}</h2>
          
                    
                    </div>
                </div>
            </div>

 <div class="section wf-section">
 <div class="w-layout-grid grid-3">
 <h3>Batting</h3>
 <h3>Bowling</h3>
 </div>
 </div>
 <div class="w-layout-grid grid">
 <div id="w-node-_062f8329-fb73-e41f-a99c-5c7136961729-be2bc540" class="row row-1">
 <div class="col col-8">
 <h4>
                             <div>Innings</div>
                            <div>Runs</div>
                            <div>Average</div>
                            <div>Strike rate</div>

                            <div>4's</div>
                            <div>6's</div>
                            <div>50's</div>
                            <div>100's</div>
                            </h4>
 </div>
 <div class="col col-4">
 <h4>
                            <div>{{ player.innings }}</div>
                            <div>{{ player.runs }}</div>
                            <div>{{ player.average }}</div>
                            <div>{{ player.strikerate }}</div>

                            <div>{{ player.fours }}</div>
                            <div>{{ player.sixes }}</div>
                            <div>{{ player.fifties }}</div>
                            <div>{{ player.hundreds }}</div>
                            </h4>

 </div>
 </div>
 <div class="row row-2">
 <div class="col col-8">
 <h4>
                             <div>Overs Bowled</div>
                            <div>Wickets</div>
                            <div>Bowling Average</div>
                            <div>Bowling Strike Rate</div>
                            <div>Economy</div>
                            <div>Three wicket hauls</div>
                            <div>Five wicket hauls</div>
                            
                            </h4>
 </div>
 <div class="col col-4">
 <h4>
                             <div>{{ player.oversbowled }}</div>
                            <div>{{ player.wickets }}</div>
                            <div>{{ player.bowlavg }}</div>
                            <div>{{ player.bowlsr }}</div>
                            <div>{{ player.economy }}</div>
                            <div>{{ player.threehaul }}</div>
                            <div>{{ player.fivehaul }}</div>
                    
                            </h4>
 </div>
 </div>
 </div>
 <div class="section-2 wf-section">
 <h3 >OTHERS</h3>
 </div>
 <div class="w-layout-grid grid-2">
    <a href="{% url 'teamlist' id=player.name.name %}" target="_self" >Statistics for each Team played</a>
    <a href="{% url 'cl' id=player.name.name %}" target="_self">Statistics in City</a>
    <a href="{% url 'pp' id=player.name.name %}" target="_self">Statistics at Position</a>
    <a href="{% url 'pp' id=player.name.name %}" target="_self">Statistics in Powerplay</a>
    <a href="{% url 'mo' id=player.name.name %}" target="_self">Statistics in MiddleOvers</a>
    <a href="{% url 'do' id=player.name.name %}" target="_self">Statistics in DeathOvers</a>
    <a href="{% url 'al' id=player.name.name %}" target="_self">Statistics against Team</a>
 <a href="#"></a>
 <a href="#"></a>
 <a href="#"></a>


 </div>
 </div>
 </div>
 </body>
 {% endblock %}
