{% extends "html/base.html" %}
{% load static %}
{% block content %}
    <link href="../static/assets/css/pp.css" rel="stylesheet">
    <body class="ki">
    <div class="shapedividers_com-1926">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <!-- Category -->
                    <div class="single category">
                        <h3 class="side-title" style="border-left: 6px solid blue;
                    background-color: lightblue;padding: 5px;">{{ player.name.name }}</h3>
                    </div>
                </div>
            </div>

 <div class="section wf-section">
 <div class="w-layout-grid grid-3">
 <h3>Batting</h3>
 <h3>Bowling</h3>
 </div>
 </div>
 <div class="w-layout-grid grid">
 <div id="w-node-_062f8329-fb73-e41f-a99c-5c7136961729-be2bc540" class="row row-1">
 <div class="col col-8">
 <h4>

                            <div>Runs</div>
                            <div>Average</div>
                            <div>Strike rate</div>

                            </h4>
 </div>
 <div class="col col-4">
 <h4>
                            <div>{{ player.ppruns }}</div>
                            <div>{{ player.ppaverage }}</div>
                            <div>{{ player.ppstrikerate }}</div>

                            </h4>

 </div>
 </div>
 <div class="row row-2">
 <div class="col col-8">
 <h4>
                             <div>Overs Bowled</div>
                            <div>Wickets</div>
                            <div>Bowling Average</div>
                            <div>Bowling Strike Rate</div>
                            <div>Economy</div>

                            </h4>
 </div>
 <div class="col col-4">
 <h4>
                             <div>{{ player.ppoversbowled }}</div>
                            <div>{{ player.ppwickets }}</div>
                            <div>{{ player.ppbowlavg }}</div>
                            <div>{{ player.ppbowlsr }}</div>
                            <div>{{ player.ppeconomy }}</div>

                            </h4>
 </div>
 </div>
 </div>
</div>
 </body>
 {% endblock %}